*~
*.swo
*.swp

*.out
*.log
*.stderr
*.stdout

tools/marian
tools/marian-dev
tools/moses-scripts
tools/subword-nmt

models/*/model.npz
models/*/model.npz.json
models/*/vocab.*
models/*/*.bpe
models/*/truecase*
