*~
*.swo
*.swp

*.out
*.log
*.stderr
*.stdout
*.tgz

tools/marian
tools/marian-dev
tools/moses-scripts
tools/subword-nmt

models/*/model.npz
models/*/model.npz.json
models/*/vocab.*
models/*/*.bpe
models/*/truecase*

data/*/corpus.*
data/*/*.bpe
data/*/truecase*
