*~
*.swo
*.swp

*.diff
*.out
*.log
*.stderr
*.stdout
*.tgz

vocab.de.yml
vocab.en.yml

tools/marian
tools/marian-dev
tools/moses-scripts
tools/subword-nmt
tools/nematus

models/wmt16_systems/en-de
models/wmt17_systems/en-de
models/wmt17_systems/scripts
models/wmt17_systems/vars
models/char-s2s
models/wnmt18
models/transformer/model.*
models/transformer/tc.*
models/transformer/vocab.*
models/transformer/*.bpe

data/*/corpus.*
data/*/*.bpe
data/*/truecase*
data/*/*.gz
