noweights
ones
ones.weights.txt
word_noweights
word_ones
word_ones.weights.txt
word_twos
word_twos.weights.txt
word_twos_cfg
word_twos.config.yml
x3copied
x3weights
sqlite
sqlite_word
sqlite_word.weights.txt
valid
valid_script.temp
maxibatch
word_maxibatch
