noweights
ones
ones.weights.txt
word_noweights
word_ones
word_ones.weights.txt
word_twos
word_twos_sync
word_twos_cfg
word_twos*.weights.txt
word_twos*.config.yml
word_eos
word_eos.weights.txt
word_eos.config.yml
x3copied
x3weights
sqlite
sqlite_word
sqlite_word.weights.txt
valid
valid_script.temp
maxibatch
word_maxibatch
compare
compare_sync
compare*.weights.txt
warn
warn*.weights.txt
