train
train_stdin
train_stdin2
train_stdin_2e
train_shuffle
train_shuffle_ram
train_fit
train_fit_stdin
train_vocab
train_vocabs
train_vocabs_yml
train_vocabs_nopaths
train_lm
train_empty_lines
train_extra_tabs
train_align
train_align0
train_align_weights
train_align_weights_intypes
train_align_shuffle
train_align_shuffle_ram
train_align_stdin
train_weights
train_weights0
train_intypes_stdin

train.de
train.en
train.tsv
train.bpe.de
train.bpe.en
train.bpe.tsv
train_empty_lines.tsv
train_extra_tabs.tsv
train2*.tsv

valid
valid.tsv

restore_stdin
